DATABASE_URL="file:./dev.db"

ADMIN_PASSWORD="change-me-please"
SESSION_SECRET="generate-with-node-crypto-randomBytes-32-hex"

NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"
NEXT_PUBLIC_GOOGLE_ADS_ID="AW-XXXXXXXXXX"
